/vim/.dein
/vim/merged
/vim/temp
/vim/rollbacks
/vim/repos/*
!/vim/repos/github.com
/vim/repos/github.com/*
!/vim/repos/github.com/Shougo
/vim/repos/github.com/Shougo/*
!/vim/repos/github.com/Shougo/dein.vim
